@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$defBlue: #4e4ffa;
$defGray: #818998;
$footerBackground: #2a2d54;

$fontFamily: 'Poppins', sans-serif;

$defaultFontSize: 16px;