.input-field {

  display: flex;
  flex-direction: column;

  width: 20em;

  input{
    border: none;
    background-color: inherit;
    border-bottom: 2px black solid;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
      -moz-appearance:textfield;
  }

  span{
    font-weight: bolder;
  }
}
